/*
Use FlexBox to style items into a square grid. Do NOT use CSS Grid.
Be mindful of borders and margins. 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
#intro {
    background-color: rgb(176, 214, 214);
    color: purple;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
}
#solicitGrid {
    align-self: center;
    align-content: center;
    background-color: rgb(176, 214, 214);
    border-radius: 20px;
    padding: 10px;
}
#userGrid { /*fix this later, center button*/
    flex-direction: row;
    justify-items: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-grow: 1;
    background-color: rgb(176, 214, 214);
    width: 960px;
    height: 960px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
}
.style1 {
    display:flex;
    flex-grow: 1;
    height: 240px;
    width: 240px;
}

.userStyle {
    display: flex;
}

/* .style1:hover {
    background-color: blue;
} */
